.container {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    /* align-content: space-between; */
    
}

.content {
    display: flex;
    flex-direction: row;
    /* align-content: space-between; */
    justify-content: space-between;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    margin-bottom: 70px;
    word-spacing: 50px;
    font-size: 1.2em;
    /* color: rgb(37, 27, 27); */
    cursor: pointer;
    /* background-color: palevioletred; */
}
button1 {
    font-size: 1em;
    border-radius: 8px;
    padding: 16px;
    margin-left: 20px;
    background-color: rgba(17, 105, 146, 0.849);
    color: white;
    word-spacing: 2px;
    cursor: pointer;
}
b {
    font-size: 1.3em;
}

@media screen and (max-width: 480px) {
    .content{
      flex-direction: column;
    }
  }