
.container {
    display: flex;
    justify-content: center;
    /* align-content: space-between; */
    
}


.content2 {
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    padding-left: 150px;
    padding-right: 150px;
    height: 105vh;
    /* background-color: blue; */
    margin-top: -30px;
    margin-bottom: 100px;
    
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}
.heading {
    font-size:5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: sans-serif;
    font-weight: lighter;
    font-style: normal;
    line-height: 1em;
    margin-top: -2px;
}
.para {
    margin-top: -30px;
    padding-bottom: 50px;
}

.see-more {
    display: inline-flex;
    padding-bottom: 50px;
    margin-top: -10px;
}

/* .social {
    margin: 0 1rem;
    color: black;
} */

.btn {
    padding-right: 120px;
}
button2{
    padding: 20px 30px;
    font-size: 1.2em;
    border-radius: 8px;
    background-color: rgba(15, 83, 114, 0.849);
    word-spacing: 5px;
    color: white;
    cursor: pointer;
}
.instagram {
    color: #000;
    padding-right: 40px;
}

.twitter {
    color: #000;
    padding-right: 40px;
}

.github {
    color: #000;
    
}

.img1 {
    width: 300px;
    height: 200px;
    border-radius: 0;
    padding-top: 0px;
  
    
    
}

.right-column {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.new {
    height: 80vh;

    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

@media screen and (max-width: 480px) {
    .content2 {
      flex-direction: column;
      width: fit-content;
      margin-left: -30px;
    }

    .heading {
        font-size: 3em;
        margin-left: -70px;
        margin-top: -100px;
    }
    .para {
        margin-left: -70px;
        font-size: large;
        padding-top: 10px;
    }
    button2 {
        font-size: 0.9em;
        padding: 13px;
        margin: -30px;
        display: inline-flex;
        margin-left: -70px;
        
    }
    .instagram {
        color: #000;
        padding-right: 30px;

    }
    
    .twitter {
        color: #000;
        padding-right: 20px;
    }
    .img1 {
        margin-left: -70px;
        width: 200px;
        height: 150px;
        padding-bottom: 50px;
    }
    .new {
        margin-left: -70px;
        width: 80vw; 
        height: 50vh;
    }
    .see-more {
        display: block;
        flex-direction: row;
    }
    .social {
        margin-left: 70px;
        margin-top: -20px;
        display: inline-flex;
    }
  }