.feaContainer {
    display: flex;
    flex-direction: row;
    /* background-color: orangered; */
    margin-top: -1100px;
    margin-bottom: 150px;
    padding: 200px;
}

.feaContainer{
    display: flex;
    flex-direction: row;
    /* background-color: blueviolet; */
    padding: 0 100px;
    margin-top: -px;
    
}

.feaRow1 {
   display: flex;
   flex-direction: row;
    /* background-color: aqua; */
    width: 1920px;
    margin-bottom: 50px;
   
}

.features {
    text-align: center;
    font-size: xx-large;
    padding-top: 100px;
    justify-content: center;
    padding-left: 700px;
    
}

.feaPar {
    text-align: center;
    font-size: x-large;
    line-height: 2;
    padding-bottom: 10px;
    margin-top: 200px;
    margin-left: -500px;
   
}

.feaR0w2 {
    display: flex;
    flex-direction: row;
    width: 1950px;
    /* background-color: green; */
    justify-content: center;
    margin-bottom: 20px;
   
}

.feaCol1 {
    display: inline-flex;
    flex-direction: column;
    /* background-color: brown; */
    width: 600px;
   padding-bottom: 20px;
}

.chair {
    justify-content: center;
    
    size: 50px;
}

.clock{

}

.head1 {
    text-align: center;
    font-size: x-large;
    
}

.feaPar1 {
    text-align: center;
    font-size: larger;
    line-height: 2;
    margin-top: -20px;
}                     

.feaCol2 {
    display: inline-flex;
    flex-direction: column;
    /* background-color: pink; */
    width: 600px;
    padding-bottom: 20px;
}

.head2 {
    text-align: center;
    font-size: x-large;
}

.feaPar2 {
    text-align: center;
    font-size: larger;
    line-height: 2;
    margin-top: -20px;
}              

.feaCol3 {
    display: inline-flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 600px;
    padding-bottom: 20px;
}

.head3 {
    text-align: center;
    font-size: x-large;
}

.feaPar3 {
    text-align: center;
    font-size: larger;
    line-height: 2;
    margin-top: -20px;
}              

.truck {
    font-size: 100px;
    text-align: center; 
    
}

.clock {
    font-size: 80px;
    text-align: center; 
}

.chair {
    font-size: 100px;
    text-align: center; 
}

@media screen and (max-width: 480px) {
    .feaContainer {
      flex-direction: column;
    }
    .feaContent {
        flex-direction: column;
        width: 40vh;
    }
    .feaRow1 {
        flex-direction: column;
    }
    .features {
        text-align: center;
        font-size: 1.5em;
        margin-top: 900px;
       margin-left: -2450px;
       padding-top: 100px;
      
    }
       
    
    .feaPar {
        text-align: center;
        font-size: large;
        line-height: 1.5;
        margin-left: -1630px;
        margin-top: -30px; 
        
    }
    .feaRow2 {
        flex-direction: column;
        margin-left: -200px;
    }
    .head1 {
        text-align: center;
        font-size: larger;
        
    }
    
    .feaPar1 {
        text-align: center;
        font-size: larger;
        line-height: 1.5;
        margin-top: -20px;
    }                     
    
    .feaCol2 {
        display: inline-flex;
        flex-direction: column;
        /* background-color: pink; */
        width: 600px;
        padding-bottom: 20px;
    }
    
    .head2 {
        text-align: center;
        font-size: larger;
    }
    
    .feaPar2 {
        text-align: center;
        font-size: larger;
        line-height: 1.5;
        margin-top: -20px;
    }              
    
    .feaCol3 {
        display: inline-flex;
        flex-direction: column;
        /* background-color: blue; */
        width: 600px;
        padding-bottom: 20px;
    }
    
    .head3 {
        text-align: center;
        font-size: larger;
    }
    
    .feaPar3 {
        text-align: center;
        font-size: larger;
        line-height: 1.5;
        margin-top: -20px;
    }              
    
    .truck {
        font-size: 80px;
        text-align: center; 
        
    }
    
    .clock {
        font-size: 70px;
        text-align: center; 
    }
    
    .chair {
        font-size: 80px;
        text-align: center; 
    }
}